html,body
{
    height:100%;
    weight:100%;
}

#img
{
    background : url("image.jpg") no-repeat fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover  ;
    height:100%;
    width:100%;

}

#img h1
{
    color:white;
	font-family: 'chiller','Trebuchet MS', 'sans-serif';
	font-weight :bold;
    font-size: 50px;
}

.center
{
    text-align: center;
    color: grey;
    text-decoration:none;
	font-family:'Montserrat', 'Trebuchet MS', 'sans-serif';
	font-weight :bold;
    font-size: 30px;
        padding:50px;
}
.center p
{
    text-align: center;
    color: grey;
    text-decoration:none;
	font-family:'Montserrat', 'Trebuchet MS', 'sans-serif';
	font-weight :bold;
    font-size: 20px;
}

.jumbotron
{
    background-color: transparent;
}

#intro
{
    color:grey;
	text-decoration:none;
	font-family:'Montserrat', 'Trebuchet MS', 'sans-serif';
	font-weight :bold;
    font-size: 30px;
}


.navb
{
/*    background-color:#73D7F5;*/
    background: -webkit-linear-gradient(top,#73D7F5 , #FFFFFF);
    font-family: Geneva,Tahoma,Verdana,sans-serif;
}

.navb a:hover
{
    font size: 20%;
    color: grey;
    font-weight: bold;
    box-shadow: 5px 5px 2px grey;
}

.pad-center
{

}

.imgsize
{
    position:relative;
    bottom: 10%;
}

.imgtxt
{
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    border-color: white;
    font color: black;
    
}